html{height:100%; overflow:hidden;}

body {
  font-family: 'PT Sans Narrow', sans-serif;
  min-width:1000px;
  border-top:10px solid #00bbcc;
  padding:0 1em;
  margin:0;
  height:100%;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
h1 {
  font-style:bold;
  font-size:1em;
  padding:1em 0em;
  margin:0;
}
p {
  display:inline;
  margin:0;
  padding:0;
  outline:0;
  border:0;
}
#tasks, #schedule, #timebox{
  height:100%;
  overflow:scroll;
  display:inline-block;
  vertical-align:top;
  width:30vw;
  min-width:300px;
}
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.over {
  background:#66aabb;
}
span{
  float:right;
  position:relative;
  display:none;
}

ul li {
  border:#eee solid 1px;
  padding:.8em;
  margin:.2em;
  width:200px;
  
}
ol li {
  text-align:right;
  padding:.8em 0;
  margin:.2em ;
  border:#fff solid 1px;
  color:#66bbcc;
  
}
li {
  list-style-type:none;
  height:1.2em;
/*  border:1px solid #000;*/
  
}
#todo-list, #timebox ol, #timebox ul,#schedule ol, #schedule ul {
  display:inline-block;
  margin:0;
  padding:0;
  vertical-align:top;
}
#schedule ol , #timebox ol{
}

#sync {
  position:absolute;
  top:0;
  right:0;
}