body {
  font-family: 'PT Sans Narrow', sans-serif;
}
#todo-input{
  border:0; 
  outline:0;
  font-size:1em;
  font-family: 'PT Sans Narrow';
}

h1 {
  font-size:1em;
  font-weight:bold;
  text-transform:uppercase;
}

